{{!-- top nav bar start --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/3">Featured</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="shopping-cart-icon">
                <a class="shopping-cart" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Shopping Cart</h2>
        </div>
    </div>

    {{#if carts}}
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width:5%"></th>
                    <th scope="col" style="width:5%"></th>
                    <th scope="col" style="width:20%"></th>
                    <th scope="col" style="width:20%">Product</th>
                    <th scope="col" style="width:20%">Price</th>
                    <th scope="col" style="width:15%">QTY</th>
                    <th scope="col" style="width:15%">Total</th>
                </tr>
            </thead>
            <tbody>
                {{#each carts}}
                <tr>
                    <th scope="row">
                        <form class="delete-item" data-id={{Product.id}}>
                            <div class="form-group">
                                <button class="btn btn-danger" type="submit" value="Submit">Remove</button>
                            </div>
                        </form>
                    </th>
                    <td><a href="/products/{{Product.id}}" class="btn btn-primary" role="button">View</a></td>
                    <td><img class="img-thumbnail" src="{{Product.img}}" alt="{{Product.name}}"></td>
                    <td>{{Product.name}}</td>
                    <td class="product-price" data-price={{Product.price}}>${{Product.price}}</td>
                    <td>
                        <form class="update-quantity" data-id={{Product.id}}>
                            <div class="form-group">
                                <select class="form-control itemQty" style="width:50%">
                                    <option selected>{{quantity}}</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                            </div>
                            <button class="btn btn-default" type="submit" value="Submit">Update QTY</button>
                        </form>
                    </td>
                    <td class="item-price"></td>
                </tr>
                {{/each}}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Grand Total: </td>
                    <td class="grand-total"></td>
                </tr>
            </tbody>
        </table>
    </div>

    {{else}}
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <p>There are no items in your cart.</p>
        </div>
    </div>
    {{/if }}

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            {{#if carts}}
            <a href="#" class="btn btn-primary">Checkout</a>
            {{else}}
            <a href="/products" class="btn btn-primary">Shop</a>
            {{/if}}
        </div>
    </div>
</div>
<footer>
    </br>
    <p class="footer">U of O Full-stack Boot Camp Project 2, October 2020 // all content copyright its respective owners
        // Copy Cat isn't a real service, please go to your nearest animal shelter to adopt a new furry family member
    </p>
</footer>

<script src="./assets/js/cart.js"></script>