{{!-- about copy cats container start --}}
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100 aboutText">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="headline">
                Copy Cats duplicates kittens of all shapes and sizes. </p>

            <p class="catCopy">Please review the different kittens we have to offer. All of our kitties have been
                vaccinated, chipped, and box-trained and are ready to be shipped to your door. All of our little fur
                babies will be pre-programmed with name recognition and common commands. Please specify the kitten's
                name and language at checkout. Toilet training and bilingual kittens are available.

            </p>
        </div>
    </div>
</div>

{{!-- about copy cats container end  --}}

{{!-- table of products --}}
<div class="container justify-content-center">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table" id="table_id" data-order='[[ 1, "asc" ]]' data-page-length='25'>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each products}}

                        <tr>
                            <td><a href="/products/{{id}}"><img src="{{img}}" alt="cat thumbnail"
                                        style="width: 200px"></a></td>
                            <td>
                                <h3><a href="/products/{{id}}">{{name}}</a></h3>
                                <p class="text-center">{{short_description}}</p>
                            </td>
                            <td>${{price}}</td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>


</div>