{{!-- top nav bar start --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/3">Featured</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="shopping-cart-icon">
                <a class="shopping-cart" href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>
{{!-- top nav bar end --}}
{{!-- about copy cats container start --}}

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100 aboutText">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="headline">
                Copy Cats duplicates kittens of all shapes and sizes. </p>

            <p class="catCopy">Please review the different kittens we have to offer. All of our kitties have been
                vaccinated, chipped, and box-trained and are ready to be shipped to your door. All of our little fur
                babies will be pre-programmed with name recognition and common commands. Please specify the kitten's
                name and language at checkout. Toilet training and bilingual kittens are available.

            </p>

        </div>
    </div>
</div>

{{!-- about copy cats container end  --}}

{{!-- cat cards  --}}
<div class="container-fluid">
    {{#each products}}
    <div class="card mb-3" style="max-width: 540px;">

        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{img}}" class="card-img" alt="cat thumbnail">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><a href="/products/{{id}}">{{name}}</a></h5>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">{{price}}</p>
                </div>
            </div>
        </div>

    </div>
</div>
{{/each}}
</div>
{{!-- cat cards --}}
<table id="table_id" data-order='[[ 1, "asc" ]]' data-page-length='25'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>price</th>
            <th>createdAt</th>
            <th>updatedAt</th>
            <th data-class-name="priority">reviews</th>
        </tr>
    </thead>

    <tbody>
        {{#each products}}

        <tr>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{img}}</td>
            <td>{{price}}</td>
            <td>{{createdAt}}</td>
            <td>{{updatedAt}}</td>
        </tr>
        {{/each}}

    </tbody>
</table>

<footer>
    <p class="footer">U of O Full-stack Boot Camp Project 2, October 2020 // all content copyright its respective owners
        // Copy Cat isn't a real service, please go to your nearest animal shelter to adopt a new furry family member
    </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>