{{!-- Link to go back to the product list --}}
<div class="container-fluid">
<div class="m-1">
  <a href="/products">Back to Products</a>
</div>

{{!-- Displays product information --}}
<div class="product container-fluid">
  <div class="row">
    <div class="col-md-12">
      <a class="example-image-link m-5" href="{{products.img}}" data-lightbox="example-1" src="{{products.img}}" /> 
      <img class="productImage" src="{{products.img}}" /></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="headline">{{products.name}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="catCopy">${{products.price}}.00</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="catCopy">{{products.long_description}}</p>
  </div>
</div>

{{!-- Form to select a qty and add the product to the shopping cart --}}
  <form class="text-center add-cart form-inline justify-content-center" data-id={{products.id}}>
    <div class="row">
      <div class="form-group col-md-12">
        <select class="form-control" id="select-qty">
          <option selected>Choose QTY</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>

        <div class="button">
          <button type="submit" class="button btn btn-primary" value="Submit">Add to Cart</button>
        </div>
      </div>
    </div>
  </form>
  <hr>
</div>

</br>
{{!-- reviews start here --}}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3>Reviews</h3>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

    {{!-- if reviews are present in the reviews table in the database, they will show up below --}}
    {{#if reviews}}

    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="width:30%">Date</th>
            <th scope="col">Reviewer</th>
            <th scope="col">Review</th>
          </tr>
        </thead>
        <tbody>
          {{#each reviews}}
          <tr>
            <th scope="row">
              <p>{{createdAt}}</p>
            </th>
            <td>
              <p>{{name}}</p>
            </td>
            <td>
              <h5>{{title}}</h5>
              <p>{{body}}</p>
            </td>
          </tr>
        </tbody>
        {{/each}}
      </table>
    </div>

    {{!-- If no reviews, the message below will display --}}
    {{else}}
    <p>There are no reviews yet</p>
    {{/if}}
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

</br></br>
{{!-- This is a form for users/customers to add a new review for this product --}}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
      <h5>Add a Review</h5>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form id="add-review">
        <div class="form-group">
          <label for="name">Name:</label>
          <input placeholder="What should we call you?" type="text" class="form-control" id="name">
          <br />
          <label for="title">Title:</label>
          <input placeholder="What's most important to know?" type="text" class="form-control" id="title">
          <br />
          <label for="body">Body:</label>
          <textarea placeholder="What did you like or dislike?" class="form-control" rows="3" id="body"></textarea>
          <div class="form-group">
          </div>
          <button type="submit" class="btn btn-primary submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
</div>


<script src="/assets/js/product.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox-plus-jquery.min.js"></script>